title: 'Titulek'
published_on: 'Publikace'
main_category_id: 'Hlavní kategorie'
author_id: 'Autor'
last_edited_by_id: 'Naposledy uloženo'
name: 'Název'
categories: 'Kategorie'
topic: 'Téma'
series_id: 'Seriál'