<form action="{link searchText!}" method="post">
    <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Vyhledávat..." id="searchText" name="searchText">
        <span class="input-group-btn">
            <button title="Vyhledat" class="search" type="submit" id="searchButton"><i class="icon-m icon-m-search icon-xl"></i></button>
        </span>
    </div>
</form>
